.skills__list {
    max-width: 450px;
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
  }
  #skill-weight{
    color: green;
    font-weight: bold;

  }
  
  .skills__list-item {
    margin: 0.5em;
  }
  
  #skill-box{
    box-shadow: 2px 1px 5px 1px #682ae9;

  }